<div class="container-fluid">
    <div class="input-group">
        <input ng-model="source"
               type="text"
               class="form-control">
        <span class="input-group-btn">

            <a ng-click="model.getNews(source)"
               class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <!--{{model.news}}-->
    <div class="row">
        <div class="col-xs-4" ng-repeat="article in model.news.articles">
            <img src={{article.urlToImage}}/>
        </div>
        {{article.urlToImage}}
    </div>
    {{model.news}}

</div>