<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="col-xs-1 pull-left navbar-brand">
            <a href="#">
                <span class="glyphicon glyphicon-play pull-left"></span>
            </a>
        </div>
        <div class="col-xs-1 pull-left navbar-brand">
            <a href="#">
                <span class="glyphicon glyphicon-eye-open pull-left"></span>
            </a>
        </div>
        <div class="col-xs-3 pull-right navbar-brand">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>