<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
           class="navbar-brand">
            <span class="glyphicon glyphicon-menu-left pull-left"></span>
        </a>
        <a class="navbar-brand">
            Widget Chooser
        </a>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a class="btn"
               ng-click="model.createWidget('HEADING')">
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a class="btn"
               ng-click="model.createWidget('YOUTUBE')">
                YouTube
            </a>
        </li>
        <li class="list-group-item">
            <a class="btn"
               ng-click="model.createWidget('IMAGE')">
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a class="btn"
               ng-click="model.createWidget('HTML')">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a class="btn"
               ng-click="model.createWidget('TEXT')">
                TEXT
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="col-xs-12 pull-right navbar-brand">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>