<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-brand">
            <span class="glyphicon glyphicon-menu-left pull-left"></span>
        </a>
        <a class="navbar-brand">
            Widget Edit
        </a>
        <ul class="nav navbar-nav pull-right">
            <li><a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span class="glyphicon glyphicon-ok"></span>
            </a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <label>
        Name
    </label>
    <input type="text" class="form-control"/>
    <label>
        Text
    </label>
    <input type="text" class="form-control" value="Increase in Gas Prices Has 'Fueled' Recession"/>
    <label>
        Size
    </label>
    <input type="number" class="form-control" value="3"/>

    <a class="btn btn-danger  btn-block"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="col-xs-12 pull-right navbar-brand">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>