<div class="container-fluid">
    <!--<label>
        Name
    </label>
    <input type="text" class="form-control"/>
    -->
   <!-- <label>
        Text
    </label>
    <input type="text" class="form-control"/>
    NEITHER OF THESE ARE USED
    -->
    <label>
        URL
    </label>
    <input type="text" class="form-control" ng-model="model.widget.url"/>
    <label>
        Width
    </label>
    <input type="number" class="form-control" ng-model="model.widget.width"/>
    <!--
    <label>
        Upload
    </label>
    <input type="file" class="form-control" accept="image/*">
    <a class="btn btn-success  btn-block"
       href="#">Upload Image</a>
    -->
<a class = "btn btn-block btn-success" href = "#!/widget/321/search"> <!--refactor for the assignment-->
    Search!
</a>

    <form action="/api/assignment/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="widgetId"  value="321"   style="display: none"/>
        <input  name="width"  value="100%"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

</div>
