<div class="container">
    <label>
        URL
    </label>
    <input type="text" class="form-control" ng-model="model.widget.url"/>
    <label>
        Width
    </label>
    <input type="number" class="form-control" ng-model="model.widget.width"/>

    <a class="btn btn-block btn-success" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search">
        Search!
    </a>

    <form action="/api/assignment/upload" method="post" enctype="multipart/form-data">
        <input name="myFile" type="file" class="form-control"/>
        <input name="widgetId" value={{model.widgetId}} style="display: none"/>
        <input name="pageId" value={{model.pageId}} style="display: none"/>
        <input name="websiteId" value={{model.websiteId}} style="display: none"/>
        <input name="userId" value={{model.userId}} style="display: none"/>
        <input name="width" value={{model.widget.width}} style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    </form>

</div>
