.red-bg {
    background-color: #f21200
}
.blue-bg {
    background-color: #180a54
}
.green-bg {
    background-color: #08f000
}

.pink-bg{
    background-color: #aa00c6
}
.yellow-bg{
    background-color: yellow;
}