<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-brand">
            <span class="glyphicon glyphicon-menu-left pull-left"></span>
        </a>
        <a class="navbar-brand">
            Page Edit
        </a>
        <ul class="nav navbar-nav pull-right">
            <li><a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-ok"></span>
            </a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <label>
        Name
    </label>
    <input type="text" class="form-control" ng-model="model.page.name"/>
    <label>
        Description
    </label>
    <input type="text" class="form-control" ng-model="model.page.description"/>
    <a class="btn btn-danger btn-block"
       ng-click="model.deletePage(model.page._id)">Delete</a>
    <a class="btn btn-success  btn-block"
       ng-click="model.updatePage(model.page)">Update</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="col-xs-12 pull-right navbar-brand">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
        </div>
    </div>
</nav>